input {
    padding:3px;
    border:1px solid #888888;
    border-radius:2px;
    margin-bottom:5px;
}

.i_message{
    height:80px;
    font-size: 18px;
    margin-bottom: 10px;
}

.form{
  margin-top:15px;
}

/*#msgsent{*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
/*}*/
