input {
    padding:3px;
    border:1px solid #888888;
    border-radius:2px;
    margin-bottom:5px;
}

.i_message{
    height:60px;
    font-size: 25px;
    margin-bottom: 10px;
}

.i_from{
    height:24px;
    font-size: 18px;
}