<app-login *ngIf="!isConnected()"></app-login>

<div *ngIf="isConnected()" class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-3 m-3 p-3 card">
      <nav class="navbar navbar-light bg-faded">
        <a class="navbar-brand" >
          <p> <img id="imgchannel" src="/assets/channels.png" width="50" height="50"  alt="">
            <span id="txtchannel">Channels</span> </p>
        </a>
      </nav>
      <app-thread-list></app-thread-list>
    </div>

    <div class="col-md-5 m-3 p-3 card ">
      <nav class="navbar navbar-light bg-faded2">
        <a class="navbar-brand2" >
          <p> <img id="imgchat" src="/assets/chat.jpg" width="50" height="50"  alt="">
            <span id="txtchat">{{title}}</span> </p>
        </a>
      </nav>
      <app-message-form></app-message-form>
    </div>

    <div class="col-md-2 m-3 p-3 card">
      <h1> Users </h1>

    </div>
  </div>
</div>
