h1 {
  text-align: center;
  margin-bottom:10%;
}


app-message-list{
  height: 470px;
  overflow-y: auto;
  width: auto;
}

#imgchannel,#imgchat,#imguser{
  vertical-align: middle;
}

#txtchannel,#txtchat,#txtuser{
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;

}


.navbar{
  background-color: #ffffff;
}

.channels{
  background-image: url("../assets/channels.png");
}

div{
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: 15px;
}

.discussion{
  background-image: url("../assets/chat.png");
}
