h1 {
  text-align: center;
  margin-bottom:10%;
}


app-message-list{
  height: 470px;
  overflow-y: auto;
}

#imgchannel,#imgchat,#imguser{
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}

#txtchannel,#txtchat,#txtuser{
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;

}


.navbar{
  background-color: #ffffff;
}
