.message{
  padding:8px 12px
}

.author{
    font-size: 17px;
    font-weight:600;
    margin-right:6px;
}
.time{
    color: #989898;
    font-size: 12px;
}
.content{
    font-size: 16px;
}

.contentEmoji{
  font-size: 33px;
}
