#list{
    height: 60vh;
    overflow-y: scroll;
}

input {
    padding:3px;
    border:1px solid #1e59a8;
    border-radius:2px;
    margin-right:5px;
    height:24px;
}

h2{
    margin-bottom:10px;
}