#list{
    height: 60vh;
    overflow-y: scroll;
}

input {
    padding:3px;
    border:1px solid #1e59a8;
    border-radius:2px;
    margin-right:5px;
    height:24px;
    width:70%;
}

button{
    width:20%;
}

h2{
    margin-bottom:10px;
  font-weight: 600;
}

.page{
    font-size:14px;
}

.create{
    background-color: #eeeeee;
}

.buttons{
    align-content: center;
    text-align: center;
}

h1,h2{
    margin-bottom: 25px;
}
