<a *ngIf="isVoid(); else elseBlock" >
  <div id="conteneurtxt">
    <img id="nomsg" src="../../../assets/nomsg.jpg">
    <br>
    <span id="msgnomsg">Il n'y a aucun message... Soyer le premier à poster un message sur ce channel!</span>
  </div>
</a>
<ng-template #elseBlock>
  <!-- On boucle sur tous les messages de notre liste de messages stockés dans messageList -->
  <div *ngFor="let currentMessage of messageList">
    <!--CurrentMessage est le message courant dans la boucle -->
    <!--On donne notre message courant en Input (en entrée, parametre) du composant Message qui va lui l'afficher.-->
    <app-message [message]="currentMessage"></app-message>
  </div>
</ng-template>

